







@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
    }

    .menu {
        flex-direction: row;
        flex-wrap: wrap;
    }
}


.contenido-central {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    align-items: center;
    min-height: 100vh;
    padding: 20px; /* Ajuste más moderado */
    box-sizing: border-box; /* Asegura que el padding no altere el tamaño total */
    width: 85%;
    height: 1500px;
    background-color: white;
}




/*---------------------- centro ----------------------------*/


body, html {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: auto; /* Opcional, evita scroll extra */
}

.contenido-central {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    align-items: center;
    min-height: 100vh;
    padding: 20px; /* Ajuste más moderado */
    box-sizing: border-box; /* Asegura que el padding no altere el tamaño total */
    width: 80%;
    background-color: white;
    overflow: auto;
}
.encabezado {
    position: sticky; /* Se mantiene visible en la parte superior durante el scroll */
    top: 0;
    z-index: 10; /* Se asegura de estar por encima del resto del contenido */
    font-family: sans-serif;
    /*background-color: #2c3e50;  Fondo sólido para destacar */
    color: white;
    width: 35%;
    padding: 10px;
    /* Línea para distinguir el encabezado */
    border-radius: 10px;
    text-align: center;
}
    .encabezado h1 {
        font-family: 'Arial', sans-serif; /* Fuente profesional y limpia */
        font-size: 28px; /* Tamaño adecuado para un título */
        font-weight: bold; /* Negrita para destacar */
        color: #2c3e50; /* Azul oscuro profesional */
        text-align: center; /* Centrado en la página */
        margin: 20px 0; /* Espaciado arriba y abajo */
        padding: 10px; /* Espaciado interno */ /* Espaciado entre letras */
        text-transform: uppercase; /* Texto en mayúsculas */
        border-radius: 5px; /* Bordes redondeados */
        box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    }

/* Títulos */
h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
}

/* Barra de búsqueda */
.search-bar {
    display: flex;
    margin-bottom: 20px;
}

.Inp {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

    .search-button:hover {
        background-color: #218838;
    }

/* Estilos para las grillas */
.grid-container {
    width: 100%;
    height: 600px;
    overflow: auto;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Grilla de datos */
.lista {
    width: 100%;
    border-collapse: collapse; /* Elimina el espacio entre las celdas */
    background-color: #f5f5f5;
}

    .lista th, .lista td {
        padding: 12px 15px;
        text-align: left;
        border: none; /* Elimina los bordes */
    }

    .lista th {
        background-color: #3d5e7f;
        color: white;
        position: sticky;
        top: 0;
        z-index: 1;
        border-bottom: 2px solid #cfd8dc; /* Línea inferior más sutil para la cabecera */
    }

    .lista tr:hover {
        background-color: #e1f1f7;
    }

    .lista td {
        color: #333;
        border-bottom: 1px solid #e0e0e0; /* Línea sutil entre las filas */
    }

/* Botón agregar */
.boton-agregar {
    display: flex;
    justify-content: space-between;
    align-self: end;
    text-align: right;
}

/* Botones dentro de las grillas */
img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.add-button, .btn-confirm, .btn-cancel, .btn-delete, .btn-sell, .btn-modify {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

    .add-button:hover, .btn-confirm:hover, .btn-cancel:hover, .btn-delete:hover, .btn-sell:hover, .btn-modify:hover {
        background-color: #0056b3;
    }

/*etiqueta de errores*/

.lblErrores {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    color: #333;
}

/* Adaptabilidad para pantallas pequeñas */
@media (max-width: 768px) {
    .grid-container {
        flex-direction: column;
    }

    .Inp {
        width: 100%;
        margin-bottom: 10px;
    }

    .search-bar {
        flex-direction: column;
    }
}
